<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-9 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav">
                <li class="list-group-item" ><a href="#admin/roles" class="list-group-item" style="font-size:16px">Manage user roles</a></li>
                <li class="list-group-item"><a href="#admin/users" class="list-group-item" style="font-size:16px">Manage user infos</a></li>
                <li class="list-group-item"><a href="#" class="list-group-item" style="font-size:16px">Get back to index page</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9">
            <br />
            <h2 class="text-center">You enter the admin page.</h2>
            <h2 class="text-center">&larr; Choose one of these options to start work.</h2>
        </div>
    </div>
</div>