<div class="io-view">
    <h2>Select drive</h2>
    <hr>
    <div style="padding-left:70px">
        <div id="drives-info">
            <% for (var i = 0; i < drives.length; i++) { %>
            <div>
                <div class='five columns'>
                    <a href='#files/<%= drives.models[i].attributes.DriveName.replace(/\\/g, "/")%>' class="host-directory"><%= drives.models[i].attributes.DriveName.replace(/\\/g, "/")%></a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>