<div class="nine.columns.centered">
    <form id="loginPageForm">
        <fieldset>
            <legend>Please sign in</legend>

            <div class="editor-label">
                Login:
            </div>
            <div class="editor-field">
                <input id="Login" name="Login" type="text" />
            </div>

            <div class="editor-label">
                Password:
            </div>
            <div class="editor-field">
                <input id="Password" name="Password" type="text" />
            </div>
            <p>
                <input id="login" type="button" class="small button radius" value="Save" />
            </p>
        </fieldset>
    </form>
</div>
