
    <div class="container">
        <form class="form-signin" id="loginPageForm">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label class="sr-only" for="Login">Login</label>
            <input autofocus="autofocus" class="form-control" id="Login" name="Login" placeholder="Login" required="required" type="text" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="Login" data-valmsg-replace="true"></span>
            <label class="sr-only" for="Password">Password</label>
            <input autofocus="autofocus" class="form-control" data-val="true" id="Password" name="Password" placeholder="Password" required="required" type="password" />
            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="login-button">Sign in</button>
        </form>
    </div>
