<div class="container">
    <form class="form-signin" id="registerPageForm">
        <h2 class="form-signin-heading">Please register</h2>
        <label class="sr-only" for="Name">Name</label>
        <input autofocus="autofocus" class="form-control" data-val="true" id="Name" name="Name" placeholder="Your name" required="required" type="text" value="" />
        <span class="field-validation-valid text-danger" data-valmsg-for="Login" data-valmsg-replace="true"></span>

        <label class="sr-only" for="Login">Login</label>
        <input autofocus="autofocus" class="form-control" data-val="true" id="Login" name="Login" placeholder="Login" required="required" type="text" value="" />
        <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>

        <label class="sr-only" for="Password">Password</label>
        <input autofocus="autofocus" class="form-control" data-val="true" id="Password" name="Password" placeholder="Password" required="required" type="password" />
        <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>

        <button type="submit" class="btn btn-primary btn-lg btn-block" id="register-button">
            Register
        </button>
    </form>
</div>

