<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><%=user.Name%></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                        <img alt="User Pic" src="/Content/images/index.png" class="img-circle img-responsive">
                    </div>

                    <div class="col-md-9 col-lg-9">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Login:</td>
                                    <td><%=user.Login%></td>
                                </tr>
                                <tr>
                                    <td>User role:</td>
                                    <td><%=user.UserRole%></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <%if(user.UserRole=='Admin'){%>
                <a href="#admin" type="button" class="btn btn-sm btn-primary">Go to admin page</a>
                <%} else{%>
                <a href="#" type="button" class="btn btn-sm btn-primary">Get back to files</a>
                <%}%>
            </div>

        </div>
    </div>
</div>