@model Epam.HostFiles.Web.Model.Models.UserInfoViewModel

@{
    ViewBag.Title = "Index";
}

{
    <div class="container">
<form action="/Login" class="form-signin" method="post"><input name="__RequestVerificationToken" type="hidden" value="QdnPQKJ-fam4a4_TbT3DUwawPa0-F11He7xVKlWCuAFPd15p2yaqFYsd_ICSuuyXmfZ8-tWGApiIDgYvp2RggTB2L4kBZpFnJdNSUGK96401" />            <h2 class="form-signin-heading">Please sign in</h2>
<label class="sr-only" for="Login">Login</label><input autofocus="autofocus" class="form-control" id="Login" name="Login" placeholder="Email address" required="required" type="text" value="" /><span class="field-validation-valid text-danger" data-valmsg-for="Login" data-valmsg-replace="true"></span><label class="sr-only" for="Password">Password</label><input autofocus="autofocus" class="form-control" id="Password" name="Password" placeholder="Password" required="required" type="password" /><span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>                <div class="checkbox">
                    <label>
                        <input checked="checked" id="isRemember" name="isRemember" type="checkbox" value="true" /><input name="isRemember" type="hidden" value="false" /> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>    </div>
}
        <hr />
        <footer>
            <p>&copy; 2016 - My ASP.NET Application</p>
        </footer>
    </div>
}