<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a>
            </p>
        </div>
    </div>
</header>
<div id="body">

    <h2>Multipart/form-data</h2>

    <section class="main-content clear-fix">
        <form name="form1" method="post" enctype="multipart/form-data" action="api/files/d:">
            <fieldset>
                <legend>File Upload Example</legend>
                <div>
                    <label for="caption">Image Caption</label>
                    <input name="caption" type="text" />
                </div>
                <div>
                    <label for="image1">Image File</label>
                    <input name="image1" type="file" />
                </div>
                <div>
                    <input type="submit" value="Submit" />
                </div>
            </fieldset>
        </form>
    </section>
</div>
